<%- include("./_header.ejs") %>
<div class="container d-flex justify-content-center">
  <div class="d-flex flex-column bg-white w-50 rounded p-3 mt-5">
    <h3 class="text-center py-3">Done 😎 you can login again</h3>
    <a href="/">Go to home</a>
  </div>
</div>
